body {
  text-align: center;
  background-image: linear-gradient(
    -145deg,
    #801ecf,
    #401374,
    #8750b4,
    #581399
  );

  padding-top: 110px;
}
.form {
  background-color: transparent;
  box-shadow: 0.5rem 0.3rem 1.5rem #47498c, -0.5rem -0.5rem 1.5rem, #5d5fb6;
  border-radius: 2rem;
}
img:hover{
    transform: rotate(180deg);
}
.header{
    font-family: 'Fredoka One', cursive;
    letter-spacing: 2px;
    text-shadow: 2px 2px #000000;
    text-transform: uppercase;
    transition-duration: 1s;
    animation: fadeIn ease 3s;
        -webkit-animation: fadeIn ease 5s;
        -moz-animation: fadeIn ease 5s;
        -o-animation: fadeIn ease 5s;
        -ms-animation: fadeIn ease 5s;
      }
.header:hover{
    letter-spacing: 8px;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade {
  font-family: "Courgette", cursive;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}

button:hover{
    font-family: 'Courgette', cursive;
    font-size: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Fredoka+One&display=swap');

