body{
    background-color: lightskyblue;
    text-align: center;
    padding-top: 110px;
}
.header{
    font-family: 'Fredoka One', cursive;
    letter-spacing: 2px;
    text-shadow: 2px 2px #000000;
    text-transform: uppercase;
    transition-duration: 1s;
    animation: fadeIn ease 3s;
        -webkit-animation: fadeIn ease 5s;
        -moz-animation: fadeIn ease 5s;
        -o-animation: fadeIn ease 5s;
        -ms-animation: fadeIn ease 5s;
      }
.header:hover{
    letter-spacing: 8px;
}

      @keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-moz-keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
        
      }

      @-webkit-keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-o-keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-ms-keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
      }

    }
.fade{
    font-family: 'Courgette', cursive;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
    animation: fadeIn ease 7s;
    -webkit-animation: fadeIn ease 7s;
    -moz-animation: fadeIn ease 7s;
    -o-animation: fadeIn ease 7s;
    -ms-animation: fadeIn ease 7s;
}
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Fredoka+One&display=swap');
